.Modal__Background {
    width: 100%;
    height: 80vh;
    display: flex;
    position: fixed;
    top: 80px;
    left: 10px;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
        left: 0px;
        height: 100%;
        top: 30px;
    }

    .Modal__Container {
        width: 80%;
        height: 80%;
        border-radius: 12px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        flex-direction: column;
        padding: 25px;
        overflow-y: scroll;

        .Modal__Title {
            font-size: 2rem;
            font-weight: 700;
            display: inline-block;
            text-align: center;
            margin-top: 10px;

            @media screen and (max-width: 768px) {
                margin-top: 0px;
            }
        }

        .Modal__Content {
            display: flex;
            flex-direction: row;

            @media screen and (max-width: 768px) {
                flex-direction: column;
            }

            .Modal__Image {
                width: 30%;
                height: 380px;

                @media screen and (max-width: 768px) {
                    width: 80%;
                    margin: 1rem auto;
                    height: 350px;
                }
            }

            .Modal__Body {
                margin-left: 1rem;
                padding: 0.5rem;
                flex: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.8rem;
                text-align: center;
            }
        }
    }
}

.Modal__CloseBtn {
    display: flex;
    justify-content: flex-end;

    .Modal__CloseBtn .button {
        background-color: transparent;
        border: none;
        font-size: 25px;
        cursor: pointer;
    }
}
